html {
	overflow-y: scroll;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'verdana', 'Times New Roman', Times, serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--theme-color-secondary-background);
}

::-webkit-scrollbar-thumb {
	background: var(--theme-color-secondary-border);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--theme-color-border);
}

::-webkit-scrollbar-thumb:active {
	background: var(--theme-color-border);
}


/* TODO: move from global style */

span.clickable {
	cursor: pointer;
	background-color: var(--theme-color-clickable_text-clickable);
}

span.clickable:hover {
	background-color: var(--theme-color-clickable_text-hovered);
}

div.input-with-label {
	display: flex;
	align-items: baseline;
	padding: 0.2em 0;
	margin-left: 0;
}

div.input-with-label>label {
	margin-left: 0.2em;
}

.checkbox-with-grip {
	display: flex;
	align-items: center;
}

.sortable-chosen {
	background-color: var(--theme-color-clickable_text-clickable);
}

div.error-badge {
	padding: 10px 15px;
	margin: 5px 0;
	background-color: #fffaf9;
	border: 1.5px solid #ff6c89;
	border-radius: 5px;
}

input,
button,
select {
	padding: 0.3em;
	border-radius: 3px;
	border: 1px var(--theme-color-border) solid;
	background-color: var(--theme-color-secondary-background);
	color: var(--theme-color-text);
}
